<div class="container " style="margin: 10px;">
    <label>Full Name</label>
    <input class="form-control" type="text" [(ngModel)]=objTeacher.full_name>
    <label>ID</label>
    <input class="form-control" type="text" [(ngModel)]=objTeacher.id>
    <label>Age</label>
    <input class="form-control" type="number" [(ngModel)]=objTeacher.age>
    <label>City</label>
    <input class="form-control" type="text" [(ngModel)]=objTeacher.hometown>
    <label>Profession</label>
    <input class="form-control" type="text" [(ngModel)]=objTeacher.profession>
    <label>Seniority</label>
    <input class="form-control" type="number" [(ngModel)]=objTeacher.yearsOfExperience>
    <label>Hours Per Month</label>
    <input class="form-control" type="number" [(ngModel)]=objTeacher.monthlyWorkHours>
    <label>Hourly Wage</label>
    <input class="form-control" type="number" [(ngModel)]=objTeacher.hourlySalary>
    <label>Photo URL</label>
    <input class="form-control" type="url" [(ngModel)]=objTeacher.photo>
    <br>
